.Header{
    height:50px;
    width:auto;
    background-color: black;
    display:flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    justify-content: space-between;
}

.logo{
    height:70px;
    display:flex;
    align-self: center;
}

.name{
    display:flex;
    flex-direction:column;
    margin-left:5px;
}

.headerleft{
    display:flex;
    flex-direction:row;
    margin-left: 15px;
}

.lefttext{
    font-family: cursive;
    font-weight: 700;
    color:white;
}

.h6text{
    margin-top:-20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -0.5px;;
    font-size: 8px;
    color:white;
    font-family: cursive;
}

.headerright{
    display:flex;
    flex-direction: row;
    width:250px;
    justify-content: space-evenly;
}

.rightlink{
    font-family: cursive;
    font-weight: 700;
    color:white;
    display: flex;
    align-self: center;
    text-decoration: none;
    font-size:13px;
    position: relative;
}
.rightlink::after{
    content: '';
    position: absolute;
    width:100%;
    height:2px;
    bottom: 0;
    left:0;
    background-color: rgb(219, 22, 22);
    transform-origin:right;
    transition: ease-out;
    transition-duration: 300ms;
    transform: scaleX(0);

}
.rightlink:hover::after{
    transform: scaleX(1);
}